<div
  class="changeset-webform
    {{ember-changeset-webforms/dynamic-class-names
      'formWrapper'
      this.changesetWebform
      null
      @requestInFlight
    }}"
  {{did-insert this.didInsert}}
  ...attributes
>
  <form
    {{on "submit" this.onFormSubmit}}
    class={{concat
      this.formValidationClass
      " "
      (ember-changeset-webforms/dynamic-class-names
        "formElement" this.changesetWebform
      )
    }}
    novalidate={{this.formSettings.novalidate}}
    data-test-id={{ember-changeset-webforms/safe-name
      this.formSettings.formName
    }}
  >
    <div
      class="{{ember-changeset-webforms/dynamic-class-names
          'formFields'
          this.changesetWebform
          null
          @requestInFlight
        }}"
    >
      {{#each this.changesetWebform.fields as |formField|}}
        <EmberChangesetWebforms::FieldElements::ValidatingField
          @formField={{formField}}
          @changesetWebform={{this.changesetWebform}}
          @dataTestFormName={{this.formSettings.dataTestFormName}}
          @afterClickAddCloneButton={{@afterClickAddCloneButton}}
          @formSettings={{this.formSettings}}
          @formFields={{this.changesetWebform.fields}}
          @onFormSubmit={{fn
            this.onFormSubmit
            this.changesetWebform
            this.formSettings.modelName
          }}
          @afterFieldValidation={{this.afterFieldValidation}}
          @onFieldValueChange={{this.onFieldValueChange}}
          @onUserInteraction={{this.onUserInteraction}}
          @afterFieldInserted={{this.afterFieldInserted}}
          @afterFieldRemoved={{this.afterFieldRemoved}}
        />
      {{/each}}
    </div>
    {{yield}}
    <div
      class="{{ember-changeset-webforms/dynamic-class-names
          'formActions'
          this.changesetWebform
          null
          @requestInFlight
        }}"
    >
      {{#unless this.formSettings.hideSubmitButton}}
        <EmberChangesetWebforms::FormElements::FormSubmitButton
          {{on
            "click"
            (fn
              this.onFormSubmit
              this.changesetWebform
              this.formSettings.modelName
            )
          }}
          @value={{this.formSettings.submitButtonText}}
          @requestInFlight={{@requestInFlight}}
          data-test-id="cwf-submit-form-button"
          @disabled={{this.formSettings.submitDisabled}}
          @formSettings={{this.formSettings}}
          @changesetWebform={{this.changesetWebform}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,submitButton'
              this.changesetWebform
            }}"
        />
      {{/unless}}
      {{#if this.formSettings.resetFormButton}}
        <button
          class={{ember-changeset-webforms/dynamic-class-names
            "buttonElement,resetFormButton"
            this.changesetWebform
          }}
          type="button"
          data-test-id="cwf-discard-changes-button"
          {{on "click" (fn this.resetForm this.changesetWebform)}}
        >
          {{#if this.formSettings.resetFormButtonIcon}}
            <this.formSettings.resetFormButtonIcon.componentClass
              @props={{this.formSettings.resetFormButtonIcon.props}}
              @changesetWebform={{this.changesetWebform}}
              class={{ember-changeset-webforms/dynamic-class-names
                "buttonIcon,resetFormButtonIcon"
                this.changesetWebform
              }}
            />
          {{/if}}
          {{this.formSettings.resetFormButtonText}}</button>
      {{/if}}
      {{#if this.formSettings.clearFormButton}}
        <button
          type="button"
          data-test-id="cwf-clear-form-button"
          {{on "click" (fn this.clearForm this.changesetWebform)}}
          class="{{ember-changeset-webforms/dynamic-class-names
              'buttonElement,clearFormButton'
              this.changesetWebform
            }}"
        >
          {{#if this.formSettings.clearFormButtonIcon}}
            <this.formSettings.clearFormButtonIcon.componentClass
              @props={{this.formSettings.clearFormButtonIcon.props}}
              @changesetWebform={{this.changesetWebform}}
              class={{ember-changeset-webforms/dynamic-class-names
                "buttonIcon,clearFormButtonIcon"
                this.changesetWebform
              }}
            />
          {{/if}}
          {{this.formSettings.clearFormButtonText}}</button>
      {{/if}}
    </div>
  </form>
</div>