<button
  class="{{ember-changeset-webforms/dynamic-class-names
      'buttonElement,addCloneButton'
      @changesetWebform
      @formField
    }}"
  type="button"
  {{on "click" (fn @onClickAddCloneButton @formField.cloneGroupName)}}
  data-test-id="cwf-add-clone-button"
>
  {{#if @changesetWebform.formSettings.addCloneButtonIconComponent}}
    <@changesetWebform.formSettings.addCloneButtonIconComponent.componentClass
      @props={{@changesetWebform.formSettings.addCloneButtonIconComponent.props}}
      @changesetWebform={{@changesetWebform}}
      @formField={{@formField}}
      class={{ember-changeset-webforms/dynamic-class-names
        "buttonIcon,addCloneButtonIcon"
        @changesetWebform
      }}
    />
  {{/if}}
  {{or
    @formField.cloneButtonText
    (concat "Add " @cloneFieldLabel " field")
  }}</button>