<button
  {{attrs-from-config
    "buttonElement,addCloneButton"
    @changesetWebform
    @formField
  }}
  type="button"
  {{on "click" (fn @onClickAddCloneButton @formField.cloneGroupName)}}
  data-test-id="cwf-add-clone-button"
>
  {{#if @changesetWebform.formSettings.addCloneButtonIconComponent}}
    <@changesetWebform.formSettings.addCloneButtonIconComponent.componentClass
      @props={{@changesetWebform.formSettings.addCloneButtonIconComponent.props}}
      @changesetWebform={{@changesetWebform}}
      @formField={{@formField}}
      {{attrs-from-config "buttonIcon,addCloneButtonIcon" @changesetWebform}}
    />
  {{/if}}
  {{or
    @formField.cloneButtonText
    (concat "New " @formField.fieldLabel " field")
  }}</button>