{{#if
  (and @formField.isClone (not-eq @masterFormField.cloneCountStatus "min"))
}}
  <button
    {{attrs-from-config "removeCloneButton" @changesetWebform @formField}}
    type="button"
    {{on "click" (fn @removeClone @formField)}}
    data-test-class="cwf-remove-clone-button"
    title="Remove {{@formField.fieldId}}"
  >
    <@masterFormField.removeCloneComponent.componentClass
      @props={{@props}}
      @changesetWebform={{@changesetWebform}}
      @formField={{@masterFormField}}
      @formFieldClone={{@formField}}
      {{attrs-from-config "removeCloneButtonIcon" @changesetWebform @formField}}
    />
  </button>
{{/if}}