<div
  data-test-id={{@dataTestFieldId}}
  data-test-cwf-field-validates={{this.dataTestCwfFieldValidates}}
  data-test-cwf-field-required={{this.dataTestCwfFieldRequired}}
  data-test-class="cwf-field-type-{{ember-changeset-webforms/safe-name
    @masterFormField.fieldType
  }}"
  class="{{@masterFormField.typeClass}} "
  {{attrs-from-config
    this.dynamicClassNameNameSpaces
    @changesetWebform
    @masterFormField
  }}
  {{did-insert (fn this.didInsertWrapper "cloneGroupWrapper")}}
  ...attributes
>
  {{#if (eq @masterFormField.cloneGroupActionsPosition "labelWrapper")}}
    <div
      {{did-insert (fn this.registerElementContainer "labelWrapper")}}
      {{attrs-from-config "labelWrapper" @changesetWebform @masterFormField}}
      data-test-class="cwf-field-label-wrapper"
    >
      <EmberChangesetWebforms::FieldElements::FieldLabel
        @formField={{@masterFormField}}
        @changesetWebform={{@changesetWebform}}
      />
    </div>
  {{else}}
    <EmberChangesetWebforms::FieldElements::FieldLabel
      @formField={{@masterFormField}}
      @changesetWebform={{@changesetWebform}}
    />
  {{/if}}
  <div
    data-clone-group-pre-clones
    {{did-insert (fn this.registerElementContainer "preClones")}}
  ></div>
  <div
    data-test-id="cwf-clone-group-items"
    {{attrs-from-config "cloneGroupItems" @changesetWebform @formField}}
  >
    {{#each @masterFormField.clonedFields as |clonedFormField|}}
      <EmberChangesetWebforms::ClonedFieldElements::ValidatingClone
        @cloneField={{this.cloneField}}
        @onUserInteraction={{@onUserInteraction}}
        @updateFieldValue={{@updateFieldValue}}
        @validateField={{@validateField}}
        @removeClone={{this.removeClone}}
        @groupValue={{@groupValue}}
        @clonedFormField={{clonedFormField}}
        @masterFormField={{@masterFormField}}
        @changesetWebform={{@changesetWebform}}
      />
    {{/each}}
  </div>

  <EmberChangesetWebforms::FieldElements::FieldErrors
    @formField={{@masterFormField}}
    @validationErrorsArray={{@masterFormField.masterFormFieldValidationErrors}}
    @changesetWebform={{@changesetWebform}}
  />
</div>

{{#if this.cloneGroupActionsDestinationElement}}
  {{#in-element this.cloneGroupActionsDestinationElement insertBefore=null}}
    <div
      data-test-id="cwf-clone-group-actions"
      {{attrs-from-config "cloneGroupActions" @changesetWebform @formField}}
    >
      {{#if (eq @masterFormField.cloneCountStatus "max")}}
        <div
          {{attrs-from-config "maxClonesReached" @changesetWebform @formField}}
          data-test-id="cwf-max-clones-reached"
        >{{@masterFormField.maxClonesReachedText}}</div>
      {{else}}
        <@masterFormField.addCloneButtonComponent.componentClass
          @props={{@masterFormField.addCloneButtonComponent.props}}
          @onClickAddCloneButton={{this.onClickAddCloneButton}}
          @formField={{@masterFormField}}
          @changesetWebform={{@changesetWebform}}
        />
      {{/if}}
    </div>
  {{/in-element}}
{{/if}}