<button
  {{attrs-from-config "buttonElement,resetFormButton" @changesetWebform}}
  type="button"
  data-test-id="cwf-discard-changes-button"
  {{on "click" (fn @resetForm @changesetWebform)}}
>
  {{#if @formSettings.resetFormButtonIcon}}
    <@formSettings.resetFormButtonIcon.componentClass
      @props={{@formSettings.resetFormButtonIcon.props}}
      @changesetWebform={{@changesetWebform}}
      {{attrs-from-config "buttonIcon,resetFormButtonIcon" @changesetWebform}}
    />
  {{/if}}
  {{@formSettings.resetFormButtonText}}</button>