<button
  type={{@formSettings.submitButtonType}}
  data-test-id="cwf-submit-form-button"
  disabled={{@formSettings.submitDisabled}}
  {{on "click" (fn @onFormSubmit @changesetWebform)}}
  class="{{ember-changeset-webforms/dynamic-class-names
      'buttonElement,submitButton'
      @changesetWebform
    }}"
  ...attributes
>
  {{#if @formSettings.submitButtonIcon}}
    <@formSettings.submitButtonIcon.componentClass
      @props={{@formSettings.submitButtonIcon.props}}
      @changesetWebform={{@changesetWebform}}
      class={{ember-changeset-webforms/dynamic-class-names
        "buttonIcon,submitButtonIcon"
        @changesetWebform
      }}
    />
  {{/if}}
  {{@formSettings.submitButtonText}}
  {{#if @changesetWebform.formSettings.requestInFlight}}
    {{#if @formSettings.requestInFlightIcon}}
      <@formSettings.requestInFlightIcon.componentClass
        @props={{@formSettings.requestInFlightIcon.props}}
        @changesetWebform={{@changesetWebform}}
        class={{ember-changeset-webforms/dynamic-class-names
          "requestInFlightIcon"
          @changesetWebform
        }}
      />
    {{/if}}
  {{/if}}
</button>