<div
  {{attrs-from-config "labelledCheckbox" @changesetWebform @formField}}
  class="{{if @disabled 'disabled'}}"
  data-test-id={{this.checkboxId}}
  data-test-option="checkbox-option-{{@option.key}}"
  data-test-labelled-checkbox
>
  <input
    type="checkbox"
    checked={{readonly @value}}
    {{on "click" this.checkboxClicked}}
    disabled={{@disabled}}
    id={{this.checkboxId}}
    data-set-custom-validity
    aria-errormessage={{@ariaErrorMessage}}
    aria-describedby={{@ariaDescribedBy}}
    name={{@name}}
    {{attrs-from-config "checkboxElement" @changesetWebform @formField}}
    required={{@required}}
  />
  <Background::OptionLabelComponent
    @optionLabelComponent={{@optionLabelComponent}}
    @option={{@option}}
    @optionLabelMarkdown={{@optionLabelMarkdown}}
    @label={{@label}}
    @for={{this.checkboxId}}
    @labelId={{this.labelId}}
    @checked={{@value}}
    @changesetWebform={{@changesetWebform}}
    @formField={{@formField}}
    data-test-class={{@optionLabelDataTestClass}}
    {{attrs-from-config "checkboxLabel" @changesetWebform @formField}}
  />
</div>