<div
  {{attrs-from-config "labelledRadioButton" @changesetWebform @formField}}
  class="{{if @disabled 'disabled'}}"
  data-test-id={{this.radioId}}
  data-test-option="radio-option-{{@option.value}}"
  data-test-labelled-radio-button
>
  <Background::RadioButton
    @value={{@value}}
    @groupValue={{@groupValue}}
    @name={{@name}}
    @changed={{@changedAction}}
    @radioId={{this.radioId}}
    @disabled={{@disabled}}
    @ariaLabelledby={{this.labelId}}
    @required={{@required}}
    data-set-custom-validity
    {{attrs-from-config "radioButtonElement" @changesetWebform @formField}}
  />
  <Background::OptionLabelComponent
    @optionLabelComponent={{@optionLabelComponent}}
    @option={{@option}}
    @optionLabelMarkdown={{@optionLabelMarkdown}}
    @label={{@label}}
    @for={{this.radioId}}
    @labelId={{this.labelId}}
    @checked={{this.checked}}
    @changesetWebform={{@changesetWebform}}
    @formField={{@formField}}
    {{attrs-from-config "radioButtonLabel" @changesetWebform @formField}}
  />
</div>