<div
  class="{{ember-changeset-webforms/dynamic-class-names
      'labelledRadioButton'
      @changesetWebform
      @formField
    }}
    {{if @disabled 'disabled'}}"
  data-test-id={{this.radioId}}
  data-test-option="radio-option-{{@option.value}}"
  data-test-labelled-radio-button
>
  <Background::RadioButton
    @value={{@value}}
    @groupValue={{@groupValue}}
    @name={{@name}}
    @changed={{@changedAction}}
    @radioId={{this.radioId}}
    @disabled={{@disabled}}
    @ariaLabelledby={{this.labelId}}
    @required={{@required}}
    data-custom-validity
    class="{{ember-changeset-webforms/dynamic-class-names
        'radioButtonElement'
        @changesetWebform
        @formField
      }}"
  />
  <Background::OptionLabelComponent
    @optionLabelComponent={{@optionLabelComponent}}
    @option={{@option}}
    @optionLabelMarkdown={{@optionLabelMarkdown}}
    @label={{@label}}
    @for={{this.radioId}}
    @labelId={{this.labelId}}
    @checked={{this.checked}}
    @changesetWebform={{@changesetWebform}}
    @formField={{@formField}}
    class={{ember-changeset-webforms/dynamic-class-names
      "radioButtonLabel"
      @changesetWebform
      @formField
    }}
  />
</div>