{{#if @optionLabelComponent}}
  <@optionLabelComponent.componentClass
    @props={{@optionLabelComponent.props}}
    @option={{@option}}
    @for={{@for}}
    @labelId={{@labelId}}
    @checked={{@checked}}
    @changesetWebform={{@changesetWebform}}
    @formField={{@formField}}
    ...attributes
  />
{{else if @optionLabelMarkdown}}
  <label
    for={{@for}}
    id={{@labelId}}
    class={{ember-changeset-webforms/dynamic-class-names
      "labelElement"
      @changesetWebform
      @formField
    }}
    ...attributes
  >
    <Background::MarkdownToHtml @source={{@optionLabelMarkdown}} />
  </label>
{{else if @label}}
  <label
    for={{@for}}
    id={{@labelId}}
    class={{ember-changeset-webforms/dynamic-class-names
      "labelElement"
      @changesetWebform
      @formField
    }}
    ...attributes
  >{{@label}}</label>
{{/if}}