<div
  {{attrs-from-config "powerSelectCheckboxesOption" @changesetWebform}}
  {{did-insert this.didInsert}}
  {{did-update this.selectionChanged @selected}}
>
  <input
    id={{this.checkboxId}}
    type="checkbox"
    aria-labelledby={{this.labelId}}
    {{attrs-from-config
      "checkboxElement,powerSelectOptionCheckbox"
      @changesetWebform
    }}
  />
  <label
    id={{this.labelId}}
    for={{this.checkboxId}}
    class="cwf-field-power-select-item cwf-field-power-select-option-with-checkbox
      {{sanitise-classname @optionName}}
      "
    ...attributes
  >
    {{@optionName}}
  </label>
</div>