<div class="power-datetime-picker" {{did-insert this.didInsert}} ...attributes>
  <BasicDropdown
    @renderInPlace={{true}}
    @onClose={{this.checkDateInputFocus}}
    as |dropdown|
  >
    <dropdown.Trigger
      onmouseup={{this.onTriggerFocus}}
      aria-labelledby={{@ariaLabelledBy}}
      aria-describedby={{@ariaDescribedBy}}
      aria-label={{@ariaLabel}}
      aria-invalid={{@ariaInvalid}}
      aria-errormessage={{@ariaErrorMessage}}
      aria-required={{@required}}
      class={{ember-changeset-webforms/class-names-from-config
        "powerDatePickerTriggerWrapper"
        @changesetWebform
        @formField
      }}
    >
      {{@ariaDescribedBy}}
      {{#if @value}}
        <button
          type="button"
          {{attrs-from-config
            "powerDatePickerClearButton"
            @changesetWebform
            @formField
          }}
          data-test-id="datetime-picker-clear-datetime"
          {{on "click" this.clearDateTime}}
        >×</button>
      {{else}}
        <div
          {{attrs-from-config
            "powerDatePickerCalendarIcon"
            @changesetWebform
            @formField
          }}
        ></div>
      {{/if}}
      <input
        type="text"
        value={{this.dateInputValue}}
        placeholder={{this.parsedDatepickerPlaceholder}}
        {{on "change" this.onDateInputChange}}
        {{on "keyup" this.onDateInputKeyUp}}
        {{on "focus" this.onDateInputFocus}}
        {{on "blur" this.onDateInputBlur}}
        {{attrs-from-config
          "powerDatePickerTriggerInput"
          @changesetWebform
          @formField
        }}
        id={{@triggerInputId}}
        data-test-id="power-datepicker-input"
      />
    </dropdown.Trigger>
    <dropdown.Content
      data-test-id="ecw-power-datepicker-dropdown"
      {{attrs-from-config
        "powerDatePickerDropdown"
        @changesetWebform
        @formField
      }}
    >
      <div
        {{attrs-from-config
          "powerDatePickerDropdownInner"
          @changesetWebform
          @formField
        }}
      >
        <PowerCalendar
          @minDate={{@minDate}}
          @maxDate={{@maxDate}}
          @selected={{this.selectedDate}}
          @onSelect={{fn this.dateClicked dropdown}}
          @onCenterChange={{this.onCenterChange}}
          @center={{this.center}}
          {{attrs-from-config
            "powerDatePickerCalendar"
            @changesetWebform
            @formField
          }}
          as |calendar|
        >
          <Background::PowerCalendarNav
            @calendar={{calendar}}
            @calendarTitleFormat={{@calendarTitleFormat}}
            @moveCenter={{calendar.actions.moveCenter}}
            {{attrs-from-config
              "powerDatePickerCalendarNav"
              @changesetWebform
              @formField
            }}
          />
          <calendar.Days
            @minDate={{@minDate}}
            @maxDate={{@maxDate}}
            {{attrs-from-config
              "powerDatePickerCalendarDays"
              @changesetWebform
              @formField
            }}
          />
        </PowerCalendar>
        {{#if (and @showTimeSelector @value (not @fixedTime))}}
          <div
            data-test-id="time-selector"
            class="time-select {{unless @value 'disabled'}} "
            {{attrs-from-config
              "powerDatePickerTimeSelectorContainer"
              @changesetWebform
              @formField
            }}
          >
            <Background::TimePartInput
              @value={{@value}}
              @dateTimeFormat={{@dateTimeFormat}}
              @keyupAction={{this.onKeyUpTimeUnitInput}}
              @keydownAction={{this.onKeyDownTimeUnitInput}}
              @changeAction={{this.setTime}}
              @timeFormatPart={{get this.timeFormatParts 0}}
              @changesetWebform={{@changesetWebform}}
            />
            <Background::TimePartInput
              @value={{@value}}
              @dateTimeFormat={{@dateTimeFormat}}
              @keyupAction={{this.onKeyUpTimeUnitInput}}
              @keydownAction={{this.onKeyDownTimeUnitInput}}
              @changeAction={{this.setTime}}
              @timeFormatPart={{get this.timeFormatParts 1}}
              @changesetWebform={{@changesetWebform}}
            />
            <Background::TimePartInput
              @value={{@value}}
              @dateTimeFormat={{@dateTimeFormat}}
              @keyupAction={{this.onKeyUpTimeUnitInput}}
              @keydownAction={{this.onKeyDownTimeUnitInput}}
              @changeAction={{this.setTime}}
              @timeFormatPart={{get this.timeFormatParts 2}}
              @changesetWebform={{@changesetWebform}}
            />
            <Background::TimePartInput
              @value={{@value}}
              @dateTimeFormat={{@dateTimeFormat}}
              @keyupAction={{this.onKeyUpTimeUnitInput}}
              @keydownAction={{this.onKeyDownTimeUnitInput}}
              @changeAction={{this.setTime}}
              @timeFormatPart={{get this.timeFormatParts 3}}
              @changesetWebform={{@changesetWebform}}
            />
            {{#if this.showAmPmInput}}
              <div>
                <label
                  for="time-selector-am-pm"
                  data-test-class="time-selector-field-label"
                  data-test-id="time-selector-field-label-am-pm"
                  {{attrs-from-config "label" @changesetWebform @formField}}
                >{{@timeInputLabels.amPm}}</label>
                <input
                  {{attrs-from-config
                    "inputElement,powerDatePickerTimeSelectorInput"
                    @changesetWebform
                    @formField
                  }}
                  type="text"
                  id="time-selector-am-pm"
                  value={{if
                    @value
                    (ember-changeset-webforms/moment-format
                      (ember-changeset-webforms/moment
                        @value this.parsedDateTimeFormat
                      )
                      "a"
                    )
                  }}
                  {{on "change" this.onChangeAmPm}}
                  {{on "focus" this.onFocusInAmPm}}
                  {{on "blur" this.onChangeAmPm}}
                  {{on "keyup" this.onKeyUpAmPm}}
                  data-test-id="power-datepicker-am-pm-input"
                />
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </dropdown.Content>
  </BasicDropdown>
</div>