{{#if (eq this.labelType "legend")}}
  <legend
    class="{{ember-changeset-webforms/dynamic-class-names
        'legendElement'
        @changesetWebform
        @formField
        @formField.validationStatus
      }}"
    ...attributes
  >
    {{yield}}
  </legend>
{{else if (eq this.labelType "div")}}
  <div ...attributes>
    {{yield}}
  </div>
{{else}}
  <label
    class="{{ember-changeset-webforms/dynamic-class-names
        'labelElement'
        @changesetWebform
        @formField
        @formField.validationStatus
      }}"
    for={{@formField.id}}
    ...attributes
  >
    {{yield}}
  </label>
{{/if}}