{{#if (eq this.labelType "legend")}}
  <legend
    {{attrs-from-config "legendElement" @changesetWebform @formField}}
    ...attributes
  >
    {{yield}}
  </legend>
{{else if (eq this.labelType "div")}}
  <div ...attributes>
    {{yield}}
  </div>
{{else}}
  <label
    {{attrs-from-config "labelElement" @changesetWebform @formField}}
    for={{@formField.id}}
    ...attributes
  >
    {{yield}}
  </label>
{{/if}}