{{#if @formField.isFieldset}}
  <fieldset
    ...attributes
    data-options-length={{@formField.options.length}}
    aria-errormessage={{@formField.ariaErrorMessage}}
    aria-describedby={{@formField.ariaDescribedBy}}
  >
    {{yield}}
  </fieldset>
{{else}}
  <div ...attributes>
    {{yield}}
  </div>
{{/if}}