{{#if @formField.displayComponent}}
  <@formField.displayComponent.componentClass
    @props={{@formField.displayComponent.props}}
    @formField={{@formField}}
    @changesetWebform={{@changesetWebform}}
    {{attrs-from-config "clickerElement" @changesetWebform @formField}}
    @onClick={{fn this.onClick @formField}}
  />
{{else}}
  <div
    role="button"
    {{attrs-from-config "clickerElement" @changesetWebform @formField}}
    {{on "click" (fn this.onClick @formField)}}
    data-test-class="cwf-clicker-element"
  >{{@formField.clickerText}}</div>
{{/if}}